<nav class="navbar">
  <div class="navbar-container">
    <div class="menu-icon-container">
      <!-- Mobile menu button -->
      <button class="menu-button" aria-expanded="false">
        <span class="sr-only">menu</span>
        <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
    <div class="navbar-title">
      <a href="#" class="navbar-logo">Providers & Articles</a>
    </div>
    <div class="navbar-links">
      <a href="/addProvider" class="navbar-link">Add Provider</a>
      <a href="/addArticle" class="navbar-link">Add Article</a>
    </div>
  </div>
</nav>
